label {
  display: block;
  padding-top: 20px;
}
label .label-text {
  -moz-transform: translateY(-18px);
  -ms-transform: translateY(-18px);
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
}
label input:focus + .label-text {
  -moz-transform: translateY(-36px);
  -ms-transform: translateY(-36px);
  -webkit-transform: translateY(-36px);
  transform: translateY(-36px);
}
